<!doctype html>
<html lang="en">
  <head>
    <title>#{{ channel_name }} archive</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <body>
    <div class="channel_name">
      {{~#if topic }}
        <p>{{ topic }}</p>
      {{/if}}
      <h2>#<span>{{ channel_name }}</span></h2>
    </div>
    {{> pages }}
    <div class="messages">
      {{#each messages}}
        {{> message message=this.0 data=this.1 }}
      {{/each}}
    </div>
    {{> pages }}
  <script src="/static/moment.js"></script>
  <script src="/static/timestamps.js"></script>
  <script>
    convertTimestamps("timestamp");
  </script>
  </body>
</html>
