<div class="pages">
  <a {{~#unless start}} href="{{prev_page}}"{{/unless}}>&larr;</a>
  <select onchange="window.location = this.selectedOptions[0].value">
  {{~#range pages}}
    <option {{~#eq this current_page}} selected{{/eq}}>{{this}}</option>
  {{~/range}}
  </select>
  &nbsp;/ {{pages}} pages
  <a {{~#unless end}} href="{{next_page}}"{{/unless}}>&rarr;</a>
</div>
