body, html {
  background-color: #36393e;
  color: #b7bbbf;
  font-family: sans-serif;
  font-size: 1em;
  display: flex;
  align-items: center;
  flex-direction: column; }

div.channel_name {
  width: 80vw;
  display: flex;
  align-items: center; }
  div.channel_name h2 {
    order: 1;
    font-weight: lighter;
    padding-right: .5em; }
    div.channel_name h2 span {
      font-weight: bold;
      color: #fff; }
  div.channel_name p {
    order: 2;
    padding-left: .5em;
    font-size: 0.9em; }
    div.channel_name p + h2 {
      border-right: 1px solid rgba(183, 187, 191, 0.1); }

a {
  text-decoration: none; }
  a[href] {
    color: #0095cd; }
    a[href]:hover {
      text-decoration: underline; }
  a:visited {
    color: #0095cd; }

div.messages {
  display: flex;
  flex-direction: column;
  align-items: center; }

div.pages {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em; }
  div.pages a {
    padding: 0 .5em; }

div.message {
  border-top: solid 1px rgba(183, 187, 191, 0.1);
  padding: 1em 0;
  width: 80vw;
  display: flex; }
  div.message div.left {
    float: left;
    padding-right: 1em; }
    div.message div.left img.avatar {
      width: 50px;
      height: 50px;
      border-radius: 25px; }
  div.message div.right div.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-bottom: .5em; }
    div.message div.right div.header div.author {
      order: 1;
      font-weight: bold; }
    div.message div.right div.header div.timestamp {
      order: 2;
      font-size: 0.75em;
      color: #5c6268;
      padding-left: .5em; }
  div.message div.right div.reactions {
    display: flex;
    margin-top: .5em;
    font-size: 0.875em;
    text-align: center; }
    div.message div.right div.reactions div.reaction {
      margin: 2px;
      background-color: rgba(255, 255, 255, 0.04);
      border-radius: 3px;
      padding: 0 6px; }
      div.message div.right div.reactions div.reaction span.count {
        color: rgba(255, 255, 255, 0.3); }
  div.message div.right div.content + div.attachment {
    padding-top: 0.5em; }
  div.message div.right div.content span.highlight {
    color: #7289da;
    background-color: rgba(115, 139, 215, 0.1);
    font-weight: 500;
    transition: background-color .05s,color .05s; }
  div.message div.right div.content span.emphasis {
    font-style: italic; }
  div.message div.right div.content span.strong {
    font-weight: bold; }
  div.message div.right div.content span.underline {
    text-decoration: underline; }
  div.message div.right div.content img.emoji {
    object-fit: contain;
    width: 1rem;
    height: 1rem;
    min-width: 22px;
    min-height: 22px;
    margin: 0 .05em 0 .1em;
    vertical-align: -.4em; }
  div.message div.right div.attachment + div.message div.right div.attachment {
    padding-top: 0.5em; }
  div.message div.right div.attachment img {
    max-width: 400px;
    max-height: 600px;
    width: auto;
    height: auto; }
  div.message div.right div.embed {
    display: inline-flex;
    flex-direction: row;
    background-color: #2f3136;
    padding: .5em;
    border-radius: 5px;
    border-left: 5px solid rgba(183, 187, 191, 0.1); }
    div.message div.right div.embed img {
      max-width: 400px;
      max-height: 600px;
      width: auto;
      height: auto; }
      div.message div.right div.embed img.thumbnail {
        max-height: 50px;
        padding-left: 1em; }
    div.message div.right div.embed div.rich {
      display: flex;
      flex-direction: column; }
      div.message div.right div.embed div.rich > div:empty {
        display: none; }
      div.message div.right div.embed div.rich div:not(:empty) + div:not(:empty) {
        padding-top: 0.5em; }
      div.message div.right div.embed div.rich div.title, div.message div.right div.embed div.rich div.author {
        font-weight: bold; }
        div.message div.right div.embed div.rich div.title + div, div.message div.right div.embed div.rich div.author + div {
          padding-top: 0 !important; }
      div.message div.right div.embed div.rich div.footer {
        font-size: 0.75em;
        font-weight: 500; }
      div.message div.right div.embed div.rich div.field div.name {
        font-weight: bold; }
      div.message div.right div.embed div.rich div.field.inline {
        display: inline-block; }
    div.message div.right div.embed div.link.info div.provider {
      font-size: 0.8em; }
    div.message div.right div.embed div.link.info div.title {
      padding-top: .25em; }
    div.message div.right div.embed div.link.info div.description {
      padding-top: .25em;
      font-size: 0.8em; }
    div.message div.right div.embed img.link.thumbnail {
      max-height: 50px;
      padding-left: 1em; }
  div.message div.right div.content + div.embed {
    margin-top: 0.5em; }
