$fontSize: 1em;
$fontColor: #b7bbbf;
$backgroundColor: #36393e;
$width: 80vw;
$borderColor: transparentize($fontColor, .9);
$linkColor: rgb(0, 149, 205);

body, html {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: sans-serif;
  font-size: $fontSize;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.channel_name {
  width: $width;
  display: flex;
  align-items: center;
  h2 {
    order: 1;
    font-weight: lighter;
    padding-right: .5em;
    span {
      font-weight: bold;
      color: #fff;
    }
  }
  p {
    order: 2;
    padding-left: .5em;
    font-size: $fontSize * .9;
    & + h2 {
      border-right: 1px solid $borderColor;
    }
  }
}

a {
  &[href] {
    color: $linkColor;
    &:hover {
      text-decoration: underline;
    }
  }
  text-decoration: none;

  &:visited {
    color: $linkColor;
  }
}

div.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.pages {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;

  a {
    padding: 0 .5em;
  }
}

div.message {
  border-top: solid 1px $borderColor;
  padding: 1em 0;
  width: $width;
  display: flex;

  div.left {
    float: left;
    padding-right: 1em;

    img.avatar {
      $avatarSize: 50px;
      width: $avatarSize;
      height: $avatarSize;
      border-radius: $avatarSize / 2;
    }
  }
  div.right {
    div.header {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding-bottom: .5em;

      div.author {
        order: 1;
        font-weight: bold;
      }
      div.timestamp {
        order: 2;
        font-size: 75%;
        color: darken($fontColor, 35);
        padding-left: .5em;
      }
    }

    div.reactions {
      display: flex;
      margin-top: .5em;
      font-size: 87.5%;
      text-align: center;

      div.reaction {
        margin: 2px;
        background-color: hsla(0, 0%, 100%, .04);
        border-radius: 3px;
        padding: 0 6px;

        span.count {
          color: hsla(0, 0%, 100%, .3);
        }
      }
    }

    div.content {
      & + div.attachment {
        padding-top: 0.5em;
      }

      span.highlight {
        color: #7289da;
        background-color: rgba(115,139,215,.1);
        font-weight: 500;
        transition: background-color .05s,color .05s;
      }

      span {
        &.emphasis {
          font-style: italic;
        }
        &.strong {
          font-weight: bold;
        }
        &.underline {
          text-decoration: underline;
        }
        &.strikethrough {
          text-decoration: line-through;
        }
        &.code {
          font-family: monospace;
          background-color: #2f3136;
          padding: .2em;
          border-radius: 3px;
          font-size: 85%;
        }
      }
      span.emphasis {
        font-style: italic;
      }

      span.strong {
        font-weight: bold;
      }

      span.underline {
        text-decoration: underline;
      }

      img.emoji {
        object-fit: contain;
        width: 1rem;
        height: 1rem;
        min-width: 22px;
        min-height: 22px;
        margin: 0 .05em 0 .1em;
        vertical-align: -.4em;
        // width: 32px;
        // height: 32px;
      }
    }

    div.attachment {
      & + & {
        padding-top: 0.5em;
      }
      img {
        max-width: 400px;
        max-height: 600px;
        width: auto;
        height: auto;
      }
    }

    div.embed {
      display: inline-flex;
      flex-direction: row;
      background-color: darken($backgroundColor, 3);
      padding: .5em;
      border-radius: 5px;
      border-left: 5px solid $borderColor;

      img {
        max-width: 400px;
        max-height: 600px;
        width: auto;
        height: auto;

        &.thumbnail {
          max-height: 50px;
          padding-left: 1em;
        }
      }

      div.rich {
        display: flex;
        flex-direction: column;

        & > div:empty {
          display: none;
        }

        div:not(:empty) + div:not(:empty) {
          padding-top: 0.5em;
        }

        div.title, div.author {
          & + div {
            padding-top: 0 !important;
          }
          font-weight: bold;
        }

        div.footer {
          font-size: 75%;
          font-weight: 500;
        }

        div.field {
          div.name {
            font-weight: bold;
          }
          &.inline {
            display: inline-block;
          }
        }
      }

      div.link.info {
        div.provider {
          font-size: 80%;
        }
        div.title {
          padding-top: .25em;
        }
        div.description {
          padding-top: .25em;
          font-size: 80%;
        }
      }
      img.link.thumbnail {
        max-height: 50px;
        padding-left: 1em;
      }
    }

    div.content + div.embed {
      margin-top: 0.5em;
    }
  }
}
